$mainColor: rgb(244, 62, 46);
$secondaryColor: #80BDFA;
$greyColor: rgb(92, 101, 100);
$backgroundColor:#d3d3fe;
$width: 768px;
@mixin mobile {
    @media(max-width: #{$width}) {
        @content
    }
}